#numeroForm {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 360px;
}

#operacao {
    width: 100%;
    max-width: 250px;
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #0d6efd;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

#operacao:hover {
    border-color: #084298;
}

#operacao:focus {
    outline: none;
    border-color: #0a58ca;
    box-shadow: 0 0 8px rgba(13, 110, 253, 0.4);
}

#operacao option {
    padding: 10px;
}

.section-web {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}